/* BOX SIZING */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* GRID */

body, html {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

header {
    padding: 2% 10% 0 10%;
    width: 100%;
}

header h1 {
    margin: 0;
}

#settings {
    display: flex;
    padding: 2% 2%;
}

#settings button {
    padding: 1%;
    margin: 0 2%;
    width: 25%;
}

#settings button:hover {
    cursor: pointer;
}

#grid {
    border: 1px solid rgb(210, 210, 210);
    display: grid;
    width: 500px;
    height: 500px;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
}

.pixel {
    font-size: 10px;
    border: 1px solid rgb(210, 210, 210);
    text-align: center;
}